.search-input {
  margin: auto;
  display: block;
  width: 20%;
  height: 50px;
  border-radius: 11px;
  font-size: 20px;
  padding: 0 10px;
}

.search-btn {
  margin: auto;
  margin-top: 10px;
  display: block;
  width: 15%;
  height: 30px;
}
